<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/headFragment}"></head>

<body>

<div th:replace="~{fragments/headerFragment}"></div>

<br/><br/>

<div class="container">
    <h2>Редактировать пароль супер-админа</h2>

    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
    <div class="alert alert-success" th:if="${success}" th:text="${success}"></div>

    <form th:action="@{/demigod/chpas}" method="post">
        <div class="mb-3">
            <label for="old_pass" class="form-label">Старый пароль</label>
            <input type="password" class="form-control" id="old_pass" name="old_pass" required/>
        </div>
        <br>
        <div class="mb-3">
            <label for="new_pass" class="form-label">Новый пароль</label>
            <input type="password" class="form-control" id="new_pass" name="new_pass" required/>
        </div>
        <br>
        <div class="mb-3">
            <label for="new_pass_conf" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="new_pass_conf" name="new_pass_conf" required />
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/demigod" class="btn btn-primary">Отмена</a>
    </form>
</div>

</body>
</html>
