<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/headFragment}"></head>

<body>

<div th:replace="~{fragments/headerFragment}"></div>

<br/><br/>

<div class="container">
    <h2>Редактирование категории</h2>
    <form th:action="@{/admin/categories/edit}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название категории</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${category.name}" required/>
        </div>
        <div class="mb-3">
            <label for="customer" class="form-label">Выберите заказчика</label>
            <select class="form-select" id="customer" name="customer.id" required>
                <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}" th:selected="${customer.id == category.customer.id}"></option>
            </select>
        </div>
        <input type="hidden" th:field="${category.id}"/>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

</body>
</html>
