<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<!--<div th:replace="fragments/headFragment"></div>-->
<head th:replace="~{fragments/headFragment}"></head>

<body>

<!--<div th:replace="fragments/headerFragment"></div>-->
<div th:replace="~{fragments/headerFragment}"></div>

<br /><br />

<div class="container">
<h2>Выберите материал:</h2>
<ul class="list-group">
    <li th:each="nameMaterial : ${nameMaterials}" class="list-group-item">
        <a th:href="@{/operations/category/{categoryId}(categoryId=${categoryId},nameMaterial=${nameMaterial})}"
           th:text="${nameMaterial}" class="text-dark fs-5"></a>
    </li>
</ul>
</div>
</body>
</html>